* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

/*  CSS PARA MOBILE */
header {
  display: grid;
  grid-template-columns: 10% 70% 20%;
  grid-template-rows: 10vw;
  width: 100%;
  height: 10vw;
  border: black solid 1px; }
  header a {
    text-decoration: none;
    color: none;
    display: flex;
    justify-content: center;
    align-items: center; }
  header div {
    width: 100%;
    height: 100%; }
  header .menuHamb-Lista {
    /* menu hamburguesa */
    display: flex;
    justify-content: center;
    align-items: center; }
    header .menuHamb-Lista img {
      width: 50%;
      height: 50%; }
    header .menuHamb-Lista nav {
      display: none; }
  header .logoHeader {
    /* Logo */
    display: flex;
    justify-content: center;
    align-items: center; }
    header .logoHeader img {
      width: 12%; }
  header .loginCarrito {
    /* LogIn y Carrito */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    header .loginCarrito img {
      width: 40px;
      padding: 2px; }

main {
  display: none; }

footer {
  display: none; }

@media (min-width: 768px) {
  header {
    display: grid;
    grid-template-columns: 10% 70% 20%;
    grid-template-rows: 10vw;
    width: 100%;
    height: 10vw;
    border: black solid 1px; }
    header a {
      text-decoration: none;
      color: none;
      display: flex;
      justify-content: center;
      align-items: center; }
    header div {
      width: 100%;
      height: 100%; }
    header .menuHamb-Lista {
      /* menu hamburguesa */
      display: flex;
      justify-content: center;
      align-items: center;
      order: 1; }
      header .menuHamb-Lista img {
        width: 50%;
        height: 50%;
        display: none; }
      header .menuHamb-Lista .menuDesktop {
        display: inline-flex;
        justify-content: center;
        align-items: center; }
        header .menuHamb-Lista .menuDesktop a {
          padding: 5px; }
          header .menuHamb-Lista .menuDesktop a span {
            color: black; }
          header .menuHamb-Lista .menuDesktop a :hover {
            color: #fca4f4; }
    header .logoHeader {
      /* Logo */
      display: flex;
      justify-content: center;
      align-items: center;
      order: -1 a;
        order-width: 100%;
        order-height: 100%; }
      header .logoHeader img {
        width: 70%;
        height: 80%; }
    header .loginCarrito {
      /* LogIn y Carrito */
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      order: 2; }
      header .loginCarrito img {
        width: 40px;
        padding: 2px; } }
