@import "colores";

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }


/*  CSS PARA MOBILE */
body {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;

    header {
        display: grid;
        grid-template-columns: 10% 70% 20%;
        grid-template-rows: 10vw;
        width: 100%;
        height: 10vw;
        border: black solid 1px;
        a {
            text-decoration: none;
            color: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        div {
            width: 100%;
            height: 100%;
        }
        .menuHamb-Lista    {              /* menu hamburguesa */
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 50%;
                height: 50%;
            }
            nav {
                display: none;
            }
        }
    
        .logoHeader    {              /* Logo */
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 12%;
            }
        }
    
        .loginCarrito    {                  /* LogIn y Carrito */
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            img {
                width: 40px;
                padding: 2px;
            }
        }
    }
    
    main {
        width: 100%;
        height: 500vw;

        .main__freeship {
            display: flex;
            justify-items: center;
            justify-content: center;
            text-decoration: none;
            color: white;
            background-color: rgb(0, 0, 0);
            padding: 2%;
            font-weight: bold;
            font-family: prohibition,sans-serif;
            font-size: 1.2rem;
            font-style: normal;
        }
    
        .main__imgSlide {
            width: 100%;
            height: 80vh;
            text-decoration: none;
            background-size: cover;
            background-position-x: 50%;
            background-position-y: 50%;
    
            form {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    
        .main__frase {
            display: flex;
            justify-items: center;
            justify-content: center;
            text-decoration: none;
            color: rgb(3, 3, 3);
            padding: 2%;
            font-weight: bold;
            font-family: prohibition,sans-serif;
            font-size: 1.2rem;
            font-style: normal;
            background: rgb(255,225,252);
            background: linear-gradient(180deg, rgba(255,255,255,1) 15%, rgba(255,225,252,1) 43%, rgba(255,255,255,1) 85%);
        }
    
        section {             /* CATEGORIAS */
            max-width: 100%;
            height: 150vh;
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
    
            a {
                min-width: 40%;
                min-height: 50%;
                flex-grow: 1;
                flex-basis: 0;
                height: 30%;
                text-decoration: none;
                background-size: cover;
                background-position: center;
                margin: 1%;
                display: flex;
                justify-content: center;
                align-items: center;
    
                p   {
                    background-color: white;
                    padding: 3% 5% 3% 5%;
                    font-size: 70%;
                    font-family: anton,sans-serif;
                    font-weight: 400;
                    font-style: normal;
                }
    
                .p_sale {
                    color: red;
                    background-color: white;
                    padding: 3% 5% 3% 5%;
                    font-size: 70%;
                    font-family: anton,sans-serif;
                    font-weight: 400;
                    font-style: normal;
                }
            }
        }
    
        h1 {                /* TITULO Productos destacados */
            font-size: 1.5rem;
            text-align: center;
            padding: 3%;
        }
    
        article {           /* Productos destacados */
            width: 100%;
            height: auto;
            margin-bottom: 20vh;
            display: grid;
            width: 100%;
            height: 100vh;
            grid-template-columns: 80%;
            grid-template-rows: repeat(12,50%);
            grid-gap: 2%;
            justify-content: center;
    
            nav {
                background-color: white;
                box-sizing: border-box;
                border: 2px solid rgb(254, 233, 255);
                border-radius: 7px;
    
                a {
                    text-decoration: none;
    
                    .foto-Producto {
                        box-sizing: border-box;
                        background-size: cover;
                        background-position: center;
                        width: 100%;
                        height: 65%;
                    }
    
                    .descripcion-prod {
                        display: block;
                        text-align: center;
                        box-sizing: border-box;
                        line-height: 1.8;
                        width: 100%;
                        height: 35%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
    
                        .product-tittle {
                            font-weight: bold;
                            font-family: balboa,sans-serif;
                            font-weight: 500;
                            font-style: normal;
                            font-size: 15px;
                            color: black;
                        }
    
                        .product-desc {
                            font-family: rift-soft,sans-serif;
                            font-weight: 300;
                            font-style: normal;
                            font-size: 11px;
                            color: black;
                        }
    
                        .product-price {
                            font-family: rift-soft,sans-serif;
                            font-weight: 300;
                            font-style: normal;
                            font-size: 15px;
                            color: black;
                        }
    
                        .product-fee {
                            font-weight: bold;
                            font-family: balboa,sans-serif;
                            font-weight: 500;
                            font-style: normal;
                            font-size: 12px;
                            color: black;
                        }
                    }
                }
    
    
            }
        }
    }
    
    footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: rgb(255, 255, 255);
        border-top: 1px solid rgb(223, 221, 221);
        height:30px;
        width:100%;
        box-sizing: border-box;
        position: relative;
    
        img { 
            width: 30px;
            padding-left: 5px;
        }
    
        p {
            font-weight: bold;
            padding-bottom: 5%;
            font-size: 12px;
            font-family:Verdana, Geneva, Tahoma, sans-serif
        }
    
        a {
            text-decoration: none;        
        }
    
        li {
            list-style: none;
        }
    
        nav {
            width: 25%;   
        }
    
        div {
            width: 25%;
        }
    
    
    }
}




@media (min-width:768px) {   /* RESPONSIVE PARA DESKTOP */

    header {
        display: grid;
        grid-template-columns: 10% 70% 20%;
        grid-template-rows: 10vw;
        width: 100%;
        height: 10vw;
        border: black solid 1px;
        a {
            text-decoration: none;
            color: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        div {
            width: 100%;
            height: 100%;
        }
        .menuHamb-Lista    {              /* menu hamburguesa */
            display: flex;
            justify-content: center;
            align-items: center;
            order: 1;
            img {
                width: 50%;
                height: 50%;
                display: none;
            }
            .menuDesktop {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                a {
                    padding: 5px;
                    span {
                        color: black;                  
                    }
                    :hover {
                        color: $mainColor;
                    }
                }
            }
        }
    
        .logoHeader    {              /* Logo */
            display: flex;
            justify-content: center;
            align-items: center;
            order: -1
            a {
                width: 100%;
                height: 100%;
            }
            img {
                width: 70%;
                height: 80%;
            }
        }
    
        .loginCarrito    {                  /* LogIn y Carrito */
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            order: 2;
            img {
                width: 40px;
                padding: 2px;
            }
        }
    }


}  